# Copy this file to .env and fill in your values

PORT=5000

# Local MongoDB
MONGO_URI=mongodb://localhost:27017/rr_kakatiya_chitfund

# OR MongoDB Atlas (cloud)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/rr_kakatiya_chitfund?retryWrites=true&w=majority
